# Ignore system specific configurations

/hypr/.config/hypr/monitors.conf
/hypr/.config/hypr/bind_overrides.conf
/hypr/.config/hypr/hyprpaper.conf
/hypr/.config/hypr/mainmod.conf
/hypr/.config/hypr/hyprlangbackup/monitors.conf
/hypr/.config/hypr/hyprlangbackup/bind_overrides.conf
/hypr/.config/hypr/hyprlangbackup/hyprpaper.conf
/hypr/.config/hypr/hyprlangbackup/mainmod.conf
/hypr/.config/hypr/monitors.lua
/hypr/.config/hypr/bind_overrides.lua
/hypr/.config/hypr/hyprpaper.lua
/hypr/.config/hypr/mainmod.lua 
/hypr/.config/hypr/hyprland.lua

/waybar/.config/waybar/config
/waybar/.config/waybar/config.jsonc
/waybar/.config/waybar/flight_tracker_module
/waybar/.config/waybar/flight_tracker_module/

/nvim/.config/nvim/lazy-lock.json
