# Ignore system specific configurations

/hypr/.config/hypr/monitors.conf
/hypr/.config/hypr/bind_overrides.conf
/hypr/.config/hypr/hyprpaper.conf
/hypr/.config/hypr/mainmod.conf

/waybar/.config/waybar/config

/nvim/.config/nvim/lazy-lock.json
