/* Nightfly Colors https://github.com/bluz71/vim-nightfly-colors */
@define-color red-norm #FC514E;
@define-color green-norm #A1CD5E;
@define-color yellow-norm #E3D18A;
@define-color blue-norm #82AAFF;
@define-color purple-norm #C792EA;
@define-color cyan-norm #7FDBCA;
@define-color white-norm #A1AAB8;

@define-color red-bright #FF5874;
@define-color green-bright #21C7A8;
@define-color yellow-bright #ECC48D;
@define-color blue-bright #82AAFF;
@define-color purple-bright #AE81FF;
@define-color cyan-bright #7FDBCA;
@define-color white-bright #D6DEEB;

@define-color workspaces-active #07AFD7;

* {
	font-family: JetBrainsMono Nerd Font;
	font-weight: bold;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#custom-spacer {
	color: gray;
	font-size:20px;
}

#waybar {
    color: @white-bright;
    background-color: rgba(10, 10, 11, 0.95);
    padding: 0;
    margin: 0;
}

#workspaces button {
    color: @workspaces-active;
	border-radius: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#workspaces button.active {
    color: @workspaces-active;
	border-radius: 0;
	border-bottom: 2px solid;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#workspaces button.empty {
    color: @white-norm;
}

#custom-gsettings {
	color: @white-bright;
}

#custom-bluetooth {
	color: @blue-bright;
}

#battery {
	color: @cyan-bright;
}

#wireplumber {
	color: @green-bright;
}

#custom-sunsetr {
	color: @yellow-bright;
}

#memory {
	color: @red-bright;
}

#cpu,
#temperature {
	color: @purple-bright;
}

#custom-metar {
	padding-right: 0.5em;
}

#custom-gsettings {
	padding-right: 0.75em;
	padding-left: 0.5em;
}

#custom-flight_tracker,
#workspaces,
#battery,
#custom-bluetooth,
#wireplumber,
#custom-sunsetr,
#memory,
#cpu,
#temperature,
#tray {
    padding-right: 0.5em;
    padding-left: 0.5em;
}
